USE [WarehouseManagement]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferControl](
	[TransferControlId] [int] IDENTITY(1,1) NOT NULL,
	[JobId] [int] NULL,
	[BatchControlNumber] [nvarchar](50) NULL,
	[ReceivedDate] [datetime] NULL,
	[ProcessedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferControlId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TransferControl] ON 

INSERT [dbo].[TransferControl] ([TransferControlId], [JobId], [BatchControlNumber], [ReceivedDate], [ProcessedDate]) VALUES (474, 14, N'4500001840', CAST(N'2015-12-16 17:00:35.617' AS DateTime), CAST(N'2015-12-16 17:01:48.197' AS DateTime))
INSERT [dbo].[TransferControl] ([TransferControlId], [JobId], [BatchControlNumber], [ReceivedDate], [ProcessedDate]) VALUES (475, 13, N'4500001841', CAST(N'2015-12-16 17:00:54.430' AS DateTime), CAST(N'2015-12-16 17:01:50.480' AS DateTime))
INSERT [dbo].[TransferControl] ([TransferControlId], [JobId], [BatchControlNumber], [ReceivedDate], [ProcessedDate]) VALUES (476, 14, N'4500001842', CAST(N'2015-12-16 17:05:36.050' AS DateTime), CAST(N'2015-12-16 17:06:43.037' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[TransferControl] OFF
