USE [WarehouseManagement]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransferControlFile](
	[TransferControlFileId] [int] IDENTITY(1,1) NOT NULL,
	[TransferControlId] [int] NULL,
	[FileLocation] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferControlFileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[TransferControlFile] ON 

INSERT [dbo].[TransferControlFile] ([TransferControlFileId], [TransferControlId], [FileLocation]) VALUES (987, 474, N'D:\FTP_Manhattan\to_manhattan\I800001840')
INSERT [dbo].[TransferControlFile] ([TransferControlFileId], [TransferControlId], [FileLocation]) VALUES (988, 474, N'D:\FTP_Manhattan\to_manhattan\I900001840')
INSERT [dbo].[TransferControlFile] ([TransferControlFileId], [TransferControlId], [FileLocation]) VALUES (989, 474, N'D:\FTP_Manhattan\to_manhattan\IB00001840')
GO
SET IDENTITY_INSERT [dbo].[TransferControlFile] OFF
ALTER TABLE [dbo].[TransferControlFile]  WITH CHECK ADD FOREIGN KEY([TransferControlId])
REFERENCES [dbo].[TransferControl] ([TransferControlId])
GO
