USE [WarehouseManagement]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CountryCodes](
	[Abbreviation] [varchar](10) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Code] [int] NOT NULL,
 CONSTRAINT [PK_CountryCodes] PRIMARY KEY CLUSTERED 
(
	[Abbreviation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CountryCodes] ([Abbreviation], [Name], [Code]) VALUES (N'AC', N'Ascension', 247)
INSERT [dbo].[CountryCodes] ([Abbreviation], [Name], [Code]) VALUES (N'AD', N'Andorra', 20)
INSERT [dbo].[CountryCodes] ([Abbreviation], [Name], [Code]) VALUES (N'AE', N'United Arab Emirates', 784)
GO
