USE [WMTransactions]
GO
/****** Object:  Table [dbo].[ManhattanShipmentCartonHeader]    Script Date: 2/25/2016 1:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManhattanShipmentCartonHeader](
	[ManhattanShipmentCartonHeaderId] [int] IDENTITY(1,1) NOT NULL,
	[ProcessedFlag] [nvarchar](1) NULL,
	[ProcessedDate] [nvarchar](9) NULL,
	[ProcessedTime] [nvarchar](7) NULL,
	[DateCreated] [nvarchar](9) NULL,
	[TimeCreated] [nvarchar](7) NULL,
	[Company] [nvarchar](10) NULL,
	[Division] [nvarchar](10) NULL,
	[Cartonnumber] [nvarchar](20) NULL,
	[PickticketControlNumber] [nvarchar](10) NULL,
	[BatchControlNumber] [nvarchar](10) NULL,
	[Pickticketnumber] [nvarchar](11) NULL,
	[PickticketSuffix] [nvarchar](3) NULL,
	[OrderNumber] [nvarchar](10) NULL,
	[OrderSuffix] [nvarchar](3) NULL,
	[Soldto] [nvarchar](8) NULL,
	[Shipto] [nvarchar](8) NULL,
	[CustomerPonumber] [nvarchar](26) NULL,
	[TrackingNumber] [nvarchar](30) NULL,
	[ConsigneeTrackingNumber] [nvarchar](20) NULL,
	[CartonType] [nvarchar](3) NULL,
	[CartonSize] [nvarchar](3) NULL,
	[ShippingUnit] [nvarchar](1) NULL,
	[StoreNumber] [nvarchar](10) NULL,
	[CartonVolume] [decimal](13, 5) NULL,
	[EstimatedWeight] [decimal](13, 5) NULL,
	[ActualWeight] [decimal](13, 5) NULL,
	[TotalQuantity] [decimal](11, 4) NULL,
	[BaseCharge] [decimal](19, 4) NULL,
	[CarrierCharge] [decimal](19, 4) NULL,
	[CustomerCharge] [decimal](19, 4) NULL,
	[InsuranceCharge] [decimal](19, 4) NULL,
	[AccessorialCharge] [decimal](19, 4) NULL,
	[CodAmount] [decimal](19, 4) NULL,
	[BilledWeight] [decimal](13, 5) NULL,
	[CartonNbrxOfY] [nvarchar](7) NULL,
	[PackageDescription] [nvarchar](5) NULL,
	[PalletId] [nvarchar](20) NULL,
	[TierNumber] [nvarchar](2) NULL,
	[MasterBillOfLading] [nvarchar](20) NULL,
	[BillOfLading] [nvarchar](20) NULL,
	[ShipmentNumber] [nvarchar](10) NULL,
	[LoadNumber] [nvarchar](10) NULL,
	[Route] [nvarchar](10) NULL,
	[ManifestNumber] [nvarchar](10) NULL,
	[Trailernumber] [nvarchar](12) NULL,
	[PickupRecordNumber] [nvarchar](13) NULL,
	[ShipVia] [nvarchar](4) NULL,
	[NumberOfTimesApptChanged] [nvarchar](1) NULL,
	[AppointmentDate] [nvarchar](9) NULL,
	[ApptMadeById] [nvarchar](3) NULL,
	[LoadSeqnumber] [nvarchar](3) NULL,
	[CartonVerifiedFlag] [nvarchar](1) NULL,
	[CheckerId] [nvarchar](10) NULL,
	[Pronumber] [nvarchar](20) NULL,
	[Sealnumber] [nvarchar](10) NULL,
	[RecipientFirstName] [nvarchar](20) NULL,
	[RecipientLastName] [nvarchar](20) NULL,
	[DeliveredDate] [nvarchar](9) NULL,
	[DeliveredTime] [nvarchar](7) NULL,
	[DeliveredOnTimeFlag] [nvarchar](1) NULL,
	[DeliveredCompleteFlag] [nvarchar](1) NULL,
	[DeliveryComment] [nvarchar](60) NULL,
	[CustomerChargeShipVia] [nvarchar](4) NULL,
	[CustomerLoadId] [nvarchar](30) NULL,
	[AirbillNumber] [nvarchar](15) NULL,
	[CartonLevelEpc] [nvarchar](100) NULL,
	[PalletEpc] [nvarchar](100) NULL,
	[MiscellaneousIns10Byte1] [nvarchar](10) NULL,
	[MiscellaneousIns20Byte1] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte2] [nvarchar](20) NULL,
	[MiscellaneousIns5Byte1] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte2] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte3] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte4] [nvarchar](5) NULL,
	[MiscellaneousIns10Byte2] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte3] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte4] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte5] [nvarchar](10) NULL,
	[MiscellaneousIns20Byte3] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte4] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte5] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte6] [nvarchar](20) NULL,
	[MiscellaneousNum1] [decimal](13, 5) NULL,
	[MiscellaneousNum2] [decimal](13, 5) NULL,
	[MiscellaneousNum3] [decimal](13, 5) NULL,
	[MiscellaneousNum4] [decimal](13, 5) NULL,
	[MiscellaneousNum5] [decimal](13, 5) NULL,
	[MiscellaneousNum6] [decimal](13, 5) NULL,
	[RecordExpansionField] [nvarchar](30) NULL,
	[CustomRecordExpansionField] [nvarchar](50) NULL,
	[HostApointmentNumber] [nvarchar](15) NULL,
	[CartonLength] [decimal](7, 2) NULL,
	[CartonWidth] [decimal](7, 2) NULL,
	[CartonHeight] [decimal](7, 2) NULL,
	[BatchLabelPrintNumber] [nvarchar](20) NULL,
	[BatchLabelCartonX] [nvarchar](7) NULL,
	[BatchLabelCartonY] [nvarchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ManhattanShipmentCartonHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
