USE [WMTransactions]
GO
/****** Object:  Table [dbo].[AuroraPickTicketDetail]    Script Date: 2/25/2016 1:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuroraPickTicketDetail](
	[AuroraPickTicketDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ErrorSequence] [nvarchar](9) NULL,
	[BatchControlNumber] [nvarchar](10) NULL,
	[DateCreated] [nvarchar](9) NULL,
	[TimeCreated] [nvarchar](7) NULL,
	[UserId] [nvarchar](10) NULL,
	[ProgramId] [nvarchar](10) NULL,
	[Company] [nvarchar](10) NULL,
	[Division] [nvarchar](10) NULL,
	[PickticketControlNumber] [nvarchar](10) NULL,
	[PickticketLineNumber] [nvarchar](5) NULL,
	[SizeRelPosninTable] [nvarchar](2) NULL,
	[Warehouse] [nvarchar](3) NULL,
	[WaveProcessingType] [nvarchar](2) NULL,
	[Season] [nvarchar](2) NULL,
	[SeasonYear] [nvarchar](2) NULL,
	[Style] [nvarchar](8) NULL,
	[StyleSuffix] [nvarchar](8) NULL,
	[Color] [nvarchar](4) NULL,
	[ColorSuffix] [nvarchar](2) NULL,
	[SecDimension] [nvarchar](3) NULL,
	[Quality] [nvarchar](1) NULL,
	[SizeRangeCode] [nvarchar](4) NULL,
	[SizeDescription] [nvarchar](15) NULL,
	[SkuAttribute1] [nvarchar](1) NULL,
	[SkuAttribute2] [nvarchar](1) NULL,
	[SkuAttribute3] [nvarchar](1) NULL,
	[SkuAttribute4] [nvarchar](1) NULL,
	[SkuAttribute5] [nvarchar](1) NULL,
	[ProductStatus] [nvarchar](3) NULL,
	[BatchNumber] [nvarchar](15) NULL,
	[CountryOfOrigin] [nvarchar](4) NULL,
	[PackageBarcode] [nvarchar](20) NULL,
	[Area] [nvarchar](4) NULL,
	[Zone] [nvarchar](4) NULL,
	[Aisle] [nvarchar](4) NULL,
	[Bay] [nvarchar](4) NULL,
	[Level] [nvarchar](4) NULL,
	[Position] [nvarchar](4) NULL,
	[InventoryType] [nvarchar](1) NULL,
	[PathNumber] [nvarchar](20) NULL,
	[PickLocAssignmentType] [nvarchar](3) NULL,
	[PickDeterminationType] [nvarchar](3) NULL,
	[OriginalOrderQuantity] [decimal](11, 4) NULL,
	[OriginalPickticketQuantity] [decimal](11, 4) NULL,
	[PickticketQuantity] [decimal](11, 4) NULL,
	[CancelQuantity] [decimal](11, 4) NULL,
	[PackMultipleQuantity] [decimal](11, 4) NULL,
	[BoxQuantity] [decimal](11, 4) NULL,
	[PackQuantity] [decimal](11, 4) NULL,
	[CaseQuantity] [decimal](11, 4) NULL,
	[TierQuantity] [decimal](11, 4) NULL,
	[PalletQuantity] [decimal](11, 4) NULL,
	[UnitWeight] [decimal](13, 5) NULL,
	[UnitVolume] [decimal](13, 5) NULL,
	[InnerPackWieght] [decimal](13, 5) NULL,
	[InnerPackVolume] [decimal](13, 5) NULL,
	[PackMultipleWeight] [decimal](13, 5) NULL,
	[PackMultipleVolume] [decimal](13, 5) NULL,
	[StyleDescription] [nvarchar](35) NULL,
	[ColorDescription] [nvarchar](35) NULL,
	[CustomerSku] [nvarchar](20) NULL,
	[PrePackGroupCode] [nvarchar](2) NULL,
	[AssortmentNumber] [nvarchar](12) NULL,
	[NumberUnitsInPpacks] [decimal](11, 4) NULL,
	[ShelfDays] [nvarchar](5) NULL,
	[PrintPriceTicketWithWave] [nvarchar](1) NULL,
	[PriceTicketType] [nvarchar](3) NULL,
	[PalletType] [nvarchar](3) NULL,
	[CartonType] [nvarchar](3) NULL,
	[CrtnBrkAttribute] [nvarchar](3) NULL,
	[CriticalDimension1] [decimal](7, 2) NULL,
	[CriticalDimension2] [decimal](7, 2) NULL,
	[CriticalDimension3] [decimal](7, 2) NULL,
	[StdCaseWeight] [decimal](13, 5) NULL,
	[StdCaseVolume] [decimal](13, 5) NULL,
	[VasStatus] [nvarchar](2) NULL,
	[VasType] [nvarchar](5) NULL,
	[VasGroup] [nvarchar](3) NULL,
	[CatchWeight] [nvarchar](2) NULL,
	[UnitOfMeasure] [nvarchar](3) NULL,
	[PreCubeFlag] [nvarchar](1) NULL,
	[IsbnNumber] [nvarchar](13) NULL,
	[Price] [decimal](19, 4) NULL,
	[RetailPrice] [decimal](19, 4) NULL,
	[DiscountDollars] [decimal](19, 4) NULL,
	[Taxable] [nvarchar](1) NULL,
	[TaxPercentage] [decimal](5, 2) NULL,
	[SuppressPrintAmounts] [nvarchar](1) NULL,
	[MessageId] [nvarchar](7) NULL,
	[CustomTag] [nvarchar](8) NULL,
	[TarrifClass] [nvarchar](3) NULL,
	[PackAreaCode] [nvarchar](2) NULL,
	[PickRate] [decimal](9, 4) NULL,
	[PackRate] [decimal](9, 4) NULL,
	[OverSizeLength] [nvarchar](3) NULL,
	[I2of5PackQuantityReference] [nvarchar](1) NULL,
	[I2of5CaseQuantityReference] [nvarchar](1) NULL,
	[I2of5TierQuantityReference] [nvarchar](1) NULL,
	[RuleNumber] [decimal](5, 2) NULL,
	[InventoryAllocationType] [nvarchar](3) NULL,
	[WorkType] [nvarchar](3) NULL,
	[PackZone] [nvarchar](4) NULL,
	[SerialNumberReq] [nvarchar](1) NULL,
	[ProtectionFactor] [nvarchar](3) NULL,
	[Sku100Inventory] [nvarchar](1) NULL,
	[ChuteAssignmentType] [nvarchar](3) NULL,
	[SpecialInstructionCode1] [nvarchar](2) NULL,
	[SpecialInstructionCode2] [nvarchar](2) NULL,
	[SpecialInstructionCode3] [nvarchar](2) NULL,
	[SpecialInstructionCode4] [nvarchar](2) NULL,
	[SpecialInstructionCode5] [nvarchar](2) NULL,
	[MiscellaneousField1] [nvarchar](20) NULL,
	[MiscellaneousField2] [nvarchar](20) NULL,
	[MiscellaneousField3] [nvarchar](20) NULL,
	[MiscellaneousNum1] [decimal](13, 5) NULL,
	[MiscellaneousNum2] [decimal](13, 5) NULL,
	[MiscellaneousNum3] [decimal](13, 5) NULL,
	[MiscellaneousNum4] [decimal](13, 5) NULL,
	[MiscellaneousNum5] [decimal](13, 5) NULL,
	[RecordExpansionField] [nvarchar](30) NULL,
	[CustomRecordExpansionField] [nvarchar](50) NULL,
	[NmfcCode] [nvarchar](9) NULL,
	[ItemVersSub] [nvarchar](1) NULL,
	[LotReqType] [nvarchar](1) NULL,
	[DrpProcType] [nvarchar](1) NULL,
	[CrushabilityCode] [nvarchar](3) NULL,
	[EventCode] [nvarchar](10) NULL,
	[InnerCtnItem] [nvarchar](1) NULL,
	[InnerCtnType] [nvarchar](3) NULL,
	[InnerCtnBreakAttribute] [nvarchar](3) NULL,
	[TpePurchaseOrder] [nvarchar](25) NULL,
	[TpeTranspOrdNumber] [nvarchar](50) NULL,
	[MiscellaneousField4] [nvarchar](20) NULL,
	[MiscellaneousField5] [nvarchar](20) NULL,
	[MiscellaneousField6] [nvarchar](20) NULL,
	[MiscellaneousField7] [nvarchar](20) NULL,
	[MiscellaneousField8] [nvarchar](20) NULL,
	[MiscellaneousField9] [nvarchar](20) NULL,
	[MiscellaneousField10] [nvarchar](20) NULL,
	[MiscellaneousIns5Byte1] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte2] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte3] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte4] [nvarchar](5) NULL,
	[MiscellaneousIns10Byte1] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte2] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte3] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte4] [nvarchar](10) NULL,
	[MiscellaneousIns20Byte11] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte12] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte13] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte14] [nvarchar](20) NULL,
	[MiscellaneousNumber6] [decimal](13, 5) NULL,
	[MiscellaneousNumber7] [decimal](13, 5) NULL,
	[MiscellaneousNumber8] [decimal](13, 5) NULL,
	[MiscellaneousNumber9] [decimal](13, 5) NULL,
	[MiscellaneousNumber10] [decimal](13, 5) NULL,
	[MiscellaneousNumber11] [decimal](13, 5) NULL,
	[MiscellaneousNumber12] [decimal](13, 5) NULL,
	[CartonEpcType] [nvarchar](1) NULL,
	[PalletEpcType] [nvarchar](1) NULL,
	[GarmentsOnHangerFlag] [nvarchar](1) NULL,
	[AllocateIncubateCase] [nvarchar](1) NULL,
	[ExportIdentificationCode] [nvarchar](2) NULL,
	[MarksAndNumbers] [nvarchar](35) NULL,
	[AllocationMethod] [nvarchar](1) NULL,
	[ExceedForFullCaseAlloc] [decimal](5, 2) NULL,
	[PurchaseOrderLine] [nvarchar](6) NULL,
	[SinglestopPallet] [nvarchar](1) NULL,
	[CustomerMaxPalletCube] [decimal](9, 2) NULL,
	[BundleQuantity] [decimal](11, 4) NULL,
	[MaximumDispenseQuantity] [decimal](11, 4) NULL,
	[Preticketed] [nvarchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuroraPickTicketDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
