USE [WMTransactions]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetManhattanShipmentCartonDetails]    Script Date: 2/25/2016 1:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetManhattanShipmentCartonDetails]
@PickTicketControlNumber VARCHAR(10),
@BatchControlNumber VARCHAR(10)
AS
SELECT [ManhattanShipmentCartonDetailId]
      ,[ProcessedFlag]
      ,[ProcessedDate]
      ,[ProcessedTime]
      ,[DateCreated]
      ,[TimeCreated]
      ,[Company]
      ,[Division]
      ,[PickticketControlNumber]
      ,[BatchControlNumber]
      ,[Cartonnumber]
      ,[ReferenceCasenumber]
      ,[PickticketLineNumber]
      ,[SizeRelPosnInTable]
      ,[CartonLineNumber]
      ,[Season]
      ,[SeasonYear]
      ,[Style]
      ,[StyleSuffix]
      ,[Color]
      ,[ColorSuffix]
      ,[SecDimension]
      ,[Quality]
      ,[SizeRngeCode]
      ,[SizeDescription]
      ,[InventoryType]
      ,[CustomerSku]
      ,[ProductStatus]
      ,[LotNumber]
      ,[SkuAttribute1]
      ,[SkuAttribute2]
      ,[SkuAttribute3]
      ,[SkuAttribute4]
      ,[SkuAttribute5]
      ,[CountryOfOrigin]
      ,[PreCubeFlag]
      ,[DistroType]
      ,[Distronumber]
      ,[PackageBarcode]
      ,[ToBePackedUnits]
      ,[ToBePackedBoxes]
      ,[UnitsPacked]
      ,[BoxesPacked]
      ,[DeliveredUnits]
      ,[CancelQuantity]
      ,[ReasonCode1]
      ,[ReasonCode2]
      ,[ReasonCode3]
      ,[ReasonCode4]
      ,[ReasonCode5]
      ,[AssortmentNumber]
      ,[PalletId]
      ,[PickerId]
      ,[PackerId]
      ,[MinorPickticketControlNumber]
      ,[MasterShipmentId]
      ,[CustomerPonumber]
      ,[Miscellaneous10Byte1]
      ,[Miscellaneous20Byte1]
      ,[MiscellaneousIns5Byte1]
      ,[MiscellaneousIns5Byte2]
      ,[MiscellaneousIns5Byte3]
      ,[MiscellaneousIns5Byte4]
      ,[MiscellaneousIns10Byte2]
      ,[MiscellaneousIns10Byte3]
      ,[MiscellaneousIns10Byte4]
      ,[MiscellaneousIns10Byte5]
      ,[MiscellaneousIns20Byte2]
      ,[MiscellaneousIns20Byte3]
      ,[MiscellaneousIns20Byte4]
      ,[MiscellaneousIns20Byte5]
      ,[MiscellaneousNum1]
      ,[MiscellaneousNum2]
      ,[MiscellaneousNum3]
      ,[MiscellaneousNum4]
      ,[MiscellaneousNum5]
      ,[MiscellaneousNum6]
      ,[PathNumber]
      ,[ShortDescription1]
      ,[ShortDescription2]
      ,[ShortDescription3]
      ,[ShortDescription4]
      ,[ShortDescription5]
      ,[RecordExpansionField]
      ,[CustomRecordExpansionField]
  FROM [dbo].[ManhattanShipmentCartonDetail]
WHERE PickTicketControlNumber = @PickTicketControlNumber
and BatchControlNumber = @BatchControlNumber;



GO
