<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="schedulerJobConfigurationSection" 
             type="Middleware.Jobs.Configuration.SchedulerJobConfigurationSection, Middleware.Jobs"/>
    
  </configSections>

  <schedulerJobConfigurationSection>
    <Assemblies>
      <ScheduleJobConfigurationElement jobKey="Pick Job" type="WmMiddleware.Picking.PickJob" assembly="WmMiddleware.Picking"/>
      <ScheduleJobConfigurationElement jobKey="Pick Job a" type="WmMiddleware.Picking.a" assembly="WmMiddleware.Picking"/>
      <ScheduleJobConfigurationElement jobKey="Pick Job b" type="WmMiddleware.Picking.b" assembly="WmMiddleware.Picking"/>
    </Assemblies>
  </schedulerJobConfigurationSection>
  
  <connectionStrings>
    <add name="WarehouseManagementConnection"
         connectionString="Server=STLMWSQL01;Database=WarehouseManagement;User Id=IntegrationUser; Password=N3wB@l@nc3;"
         providerName="SqlServer-20" />
  </connectionStrings>
  
</configuration>