<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="inventoryServiceBaseUrl" value="http://dev-middleware-inventory.azurewebsites.net"/>
  </appSettings>
</configuration>