USE [NBXWEB]
GO
/****** Object:  Table [dbo].[tstPOP10100]    Script Date: 2/25/2016 1:54:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tstPOP10100](
	[PONUMBER] [char](17) NOT NULL,
	[TXRGNNUM] [char](25) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
