USE [NBXWEB]
GO
/****** Object:  StoredProcedure [dbo].[sp_PopulateAsnItems]    Script Date: 2/25/2016 1:54:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_PopulateAsnItems]

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	----Hold ID Items TO PULL
	DECLARE @AsnHeaderItems TABLE
	(
		[IDInterfaceShipmentConfirmationHeader] INT
	)

	INSERT INTO @AsnHeaderItems
	SELECT [IDInterfaceShipmentConfirmationHeader]
	FROM  STLCADRESQL.[CDINBW].[dbo].[InterfaceShipmentConfirmationHeader]
	WHERE ExternalUID in ('3.MEOL02163R-1',
'3.WL574BCCINTRO-1',
'3.WL574BCBINTRO-1',
'3.WL574BCAINTRO-1')

		  
	SET IDENTITY_INSERT [dbo].[InterfaceShipmentConfirmationHeader] ON;

	INSERT INTO [dbo].[InterfaceShipmentConfirmationHeader]
	([UpdateDate]
      ,[UpdateUserID]
      ,[UpdatePID]
      ,[InsertDate]
      ,[IDInterfaceShipmentConfirmationHeader]
      ,[ExternalUID]
      ,[OrderID]
      ,[LoadID]
      ,[TrackingNumber]
      ,[ClientID]
      ,[OrderDate]
      ,[OrderType]
      ,[OrderPriority]
      ,[OrderStatus]
      ,[ShipDate]
      ,[ExpectedDeliveryDate]
      ,[CustomerPORef]
      ,[CustomerPODate]
      ,[RouteID]
      ,[StopID]
      ,[FacilityNbr]
      ,[ShipFromName]
      ,[ShipFromAddr1]
      ,[ShipFromAddr2]
      ,[ShipFromCity]
      ,[ShipFromState]
      ,[ShipFromPostalCode]
      ,[ShipFromCountryCode]
      ,[BillToCustomerID]
      ,[BillToCustomerName]
      ,[BillToCustomerAddr1]
      ,[BillToCustomerAddr2]
      ,[BillToCustomerAddr3]
      ,[BillToCustomerAddr4]
      ,[BillToCustomerCity]
      ,[BillToCustomerState]
      ,[BillToCustomerPostalCode]
      ,[BillToCustomerCountryCode]
      ,[SoldToCustomerID]
      ,[SoldToCustomerName]
      ,[SoldToCustomerAbbrevName]
      ,[SoldToCustomerAddr1]
      ,[SoldToCustomerAddr2]
      ,[SoldToCustomerAddr3]
      ,[SoldToCustomerAddr4]
      ,[SoldToCustomerCity]
      ,[SoldToCustomerState]
      ,[SoldToCustomerPostalCode]
      ,[SoldToCustomerCountryCode]
      ,[ShipToCustomerID]
      ,[ShipToCustomerName]
      ,[ShipToCustomerAbbrevName]
      ,[ShipToCustomerAddr1]
      ,[ShipToCustomerAddr2]
      ,[ShipToCustomerAddr3]
      ,[ShipToCustomerAddr4]
      ,[ShipToCustomerCity]
      ,[ShipToCustomerState]
      ,[ShipToCustomerPostalCode]
      ,[ShipToCustomerCountryCode]
      ,[CarrierCode]
      ,[SCAC]
      ,[ShippingTerms]
      ,[BOL]
      ,[Seal1]
      ,[Seal2]
      ,[ContainerSeqNbr]
      ,[EquipmentID]
      ,[EquipmentType]
      ,[WeightUOM]
      ,[TotalWeightShipped]
      ,[TotalUnitsShipped]
      ,[TotalPalletsShipped]
      ,[TotalChepPalletsShipped]
      ,[InterfaceUser1]
      ,[InterfaceUser2]
      ,[InterfaceUser3]
      ,[InterfaceUser4]
      ,[InterfaceUser5]
      ,[InterfaceUser6]
      ,[InterfaceUser7]
      ,[InterfaceUser8]
      ,[InterfaceUser9]
      ,[InterfaceUser10]
      ,[InterfaceStatus]
      ,[InterfaceErrorText]
      ,[OriginalMeasType]
      ,[ShipPackagingCode]
      ,[ShipLadingQty]
      ,[ShipWeight]
      ,[ShipWeightUOM]
      ,[OrderPackagingCode]
      ,[OrderLadingQty]
      ,[OrderWeight]
      ,[OrderWeightUOM]
      ,[ShipFromID]
      ,[ActualFreightCharge]
      ,[DiscountedFreightCharge]
      ,[ASNnbr]
      ,[ShipmentID]
      ,[ActionCode]
      ,[VendorID]
      ,[ASNdirection]
      ,[ASNfacilityNbr]
      ,[ProNbr]
      ,[BuyerRefNbr]
      ,[OutBoundCarrierCode]
      ,[Status])
	SELECT [UpdateDate]
		  ,[UpdateUserID]
		  ,[UpdatePID]
		  ,[InsertDate]
		  ,[IDInterfaceShipmentConfirmationHeader]
		  ,[ExternalUID]
		  ,[OrderID]
		  ,[LoadID]
		  ,[TrackingNumber]
		  ,[ClientID]
		  ,[OrderDate]
		  ,[OrderType]
		  ,[OrderPriority]
		  ,[OrderStatus]
		  ,[ShipDate]
		  ,[ExpectedDeliveryDate]
		  ,[CustomerPORef]
		  ,[CustomerPODate]
		  ,[RouteID]
		  ,[StopID]
		  ,[FacilityNbr]
		  ,[ShipFromName]
		  ,[ShipFromAddr1]
		  ,[ShipFromAddr2]
		  ,[ShipFromCity]
		  ,[ShipFromState]
		  ,[ShipFromPostalCode]
		  ,[ShipFromCountryCode]
		  ,[BillToCustomerID]
		  ,[BillToCustomerName]
		  ,[BillToCustomerAddr1]
		  ,[BillToCustomerAddr2]
		  ,[BillToCustomerAddr3]
		  ,[BillToCustomerAddr4]
		  ,[BillToCustomerCity]
		  ,[BillToCustomerState]
		  ,[BillToCustomerPostalCode]
		  ,[BillToCustomerCountryCode]
		  ,[SoldToCustomerID]
		  ,[SoldToCustomerName]
		  ,[SoldToCustomerAbbrevName]
		  ,[SoldToCustomerAddr1]
		  ,[SoldToCustomerAddr2]
		  ,[SoldToCustomerAddr3]
		  ,[SoldToCustomerAddr4]
		  ,[SoldToCustomerCity]
		  ,[SoldToCustomerState]
		  ,[SoldToCustomerPostalCode]
		  ,[SoldToCustomerCountryCode]
		  ,[ShipToCustomerID]
		  ,[ShipToCustomerName]
		  ,[ShipToCustomerAbbrevName]
		  ,[ShipToCustomerAddr1]
		  ,[ShipToCustomerAddr2]
		  ,[ShipToCustomerAddr3]
		  ,[ShipToCustomerAddr4]
		  ,[ShipToCustomerCity]
		  ,[ShipToCustomerState]
		  ,[ShipToCustomerPostalCode]
		  ,[ShipToCustomerCountryCode]
		  ,[CarrierCode]
		  ,[SCAC]
		  ,[ShippingTerms]
		  ,[BOL]
		  ,[Seal1]
		  ,[Seal2]
		  ,[ContainerSeqNbr]
		  ,[EquipmentID]
		  ,[EquipmentType]
		  ,[WeightUOM]
		  ,[TotalWeightShipped]
		  ,[TotalUnitsShipped]
		  ,[TotalPalletsShipped]
		  ,[TotalChepPalletsShipped]
		  ,[InterfaceUser1]
		  ,[InterfaceUser2]
		  ,[InterfaceUser3]
		  ,[InterfaceUser4]
		  ,[InterfaceUser5]
		  ,[InterfaceUser6]
		  ,[InterfaceUser7]
		  ,[InterfaceUser8]
		  ,[InterfaceUser9]
		  ,[InterfaceUser10]
		  ,[InterfaceStatus]
		  ,[InterfaceErrorText]
		  ,[OriginalMeasType]
		  ,[ShipPackagingCode]
		  ,[ShipLadingQty]
		  ,[ShipWeight]
		  ,[ShipWeightUOM]
		  ,[OrderPackagingCode]
		  ,[OrderLadingQty]
		  ,[OrderWeight]
		  ,[OrderWeightUOM]
		  ,[ShipFromID]
		  ,[ActualFreightCharge]
		  ,[DiscountedFreightCharge]
		  ,[ASNnbr]
		  ,[ShipmentID]
		  ,[ActionCode]
		  ,[VendorID]
		  ,[ASNdirection]
		  ,[ASNfacilityNbr]
		  ,[ProNbr]
		  ,[BuyerRefNbr]
		  ,[OutBoundCarrierCode]
		  ,'NEW'
	  FROM STLCADRESQL.[CDINBW].[dbo].[InterfaceShipmentConfirmationHeader]
	  WHERE IDinterfaceshipmentconfirmationheader IN (SELECT * FROM @AsnHeaderItems);

	  	SET IDENTITY_INSERT [dbo].[InterfaceShipmentConfirmationHeader] OFF;
	SET IDENTITY_INSERT [dbo].[InterfaceShipmentConfirmationDetail] ON;

	INSERT INTO [dbo].[InterfaceShipmentConfirmationDetail] ([UpdateDate]
    ,[UpdateUserID]
    ,[UpdatePID]
    ,[InsertDate]
    ,[IDInterfaceShipmentConfirmationHeader]
    ,[IDInterfaceShipmentConfirmationDetail]
    ,[SKU]
    ,[SKUClass]
    ,[SKUdesc]
    ,[UPC]
    ,[UOM]
    ,[UnitsShipped]
    ,[UnitsOrdered]
    ,[ParentMUID]
    ,[ParentMUType]
    ,[ChildMUID]
    ,[ChildMUType]
    ,[Height]
    ,[Width]
    ,[Length]
    ,[Weight]
    ,[LotID]
    ,[VendorID]
    ,[MfgDate]
    ,[ExpDate]
    ,[SerialNbr]
    ,[InterfaceUser1]
    ,[InterfaceUser2]
    ,[InterfaceUser3]
    ,[InterfaceUser4]
    ,[InterfaceUser5]
    ,[InterfaceUser6]
    ,[InterfaceUser7]
    ,[InterfaceUser8]
    ,[InterfaceUser9]
    ,[InterfaceUser10]
    ,[InterfaceStatus]
    ,[InterfaceErrorText]
    ,[PalletTypeCode]
    ,[PalletTiers]
    ,[PalletBlocks]
    ,[PalletInnerBlocks]
    ,[PalletWeight]
    ,[PalletWeightUOM]
    ,[PalletVolume]
    ,[PalletVolumeUOM]
    ,[PalletDimensionUOM]
    ,[ExternalUID]
    ,[ShipmentID]
    ,[EachQty]
    ,[ActionCode]
    ,[DetailSeqNbr]
    ,[CartonQTY]
    ,[PalletQTY]
    ,[TareWeight]
    ,[NetWeight]
    ,[Status])
	SELECT [UpdateDate]
		,[UpdateUserID]
		,[UpdatePID]
		,[InsertDate]
		,[IDInterfaceShipmentConfirmationHeader]
		,[IDInterfaceShipmentConfirmationDetail]
		,[SKU]
		,[SKUClass]
		,[SKUdesc]
		,[UPC]
		,[UOM]
		,[UnitsShipped]
		,[UnitsOrdered]
		,[ParentMUID]
		,[ParentMUType]
		,[ChildMUID]
		,[ChildMUType]
		,[Height]
		,[Width]
		,[Length]
		,[Weight]
		,[LotID]
		,[VendorID]
		,[MfgDate]
		,[ExpDate]
		,[SerialNbr]
		,[InterfaceUser1]
		,[InterfaceUser2]
		,[InterfaceUser3]
		,[InterfaceUser4]
		,[InterfaceUser5]
		,[InterfaceUser6]
		,[InterfaceUser7]
		,[InterfaceUser8]
		,[InterfaceUser9]
		,[InterfaceUser10]
		,[InterfaceStatus]
		,[InterfaceErrorText]
		,[PalletTypeCode]
		,[PalletTiers]
		,[PalletBlocks]
		,[PalletInnerBlocks]
		,[PalletWeight]
		,[PalletWeightUOM]
		,[PalletVolume]
		,[PalletVolumeUOM]
		,[PalletDimensionUOM]
		,[ExternalUID]
		,[ShipmentID]
		,[EachQty]
		,[ActionCode]
		,[DetailSeqNbr]
		,[CartonQTY]
		,[PalletQTY]
		,[TareWeight]
		,[NetWeight]
		,'NEW'
	FROM STLCADRESQL.[CDINBW].[dbo].[InterfaceShipmentConfirmationDetail]
	WHERE IDinterfaceshipmentconfirmationheader IN (SELECT * FROM @AsnHeaderItems)


	SET IDENTITY_INSERT [dbo].[InterfaceShipmentConfirmationDetail] OFF;

END

GO
