<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="WarehouseManagementConnection"
         connectionString="Server=STLMWSQL01;Database=WarehouseManagement;User Id=IntegrationUser; Password=N3wB@l@nc3;"
         providerName="SqlServer-20" />
  </connectionStrings>

</configuration>