<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NewBalance.GP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <NewBalance.GP.Properties.Settings>
            <setting name="NewBalance_GP_GPLegacyService_DynamicsGP" serializeAs="String">
                <value>http://STLGP1:48620/DynamicsGPWebServices/DynamicsGPService.asmx</value>
            </setting>
        </NewBalance.GP.Properties.Settings>
    </applicationSettings>
</configuration>