<connectionStrings>

  <add name="WarehouseManagementConnection"
     connectionString="Server=STLMWSQL01;Database=WarehouseManagement;User Id=IntegrationUser; Password=N3wB@l@nc3;"
     providerName="SqlServer-20" />

  <add name="NbxWebConnection"
       connectionString="Server=stlgpdev1;Database=NBXWEB;User Id=IntegrationUser; Password=N3wB@l@nc3;"
       providerName="SqlServer-20" />

  <add name="WarehouseManagementTransactionConnection"
       connectionString="Server=STLMWSQL01;Database=WMTransactions;User Id=IntegrationUser; Password=N3wB@l@nc3;"
       providerName="SqlServer-20" />

  <add name="DeckIsKioskConnection"
      connectionString="Server=192.168.0.25;Database=deckis_kiosk;User Id=NBlinkedServer; Password=M4zokGKoG!3;"
      providerName="SqlServer-20" />

  <add name="DwhExportConnection"
        connectionString="Server=192.168.0.25;Database=dwh_export;User Id=NBlinkedServer; Password=M4zokGKoG!3;"
        providerName="SqlServer-20" />

  <add name="GpConnection"
       connectionString="Server=stlgpdev1;Database=NBXWEB;User Id=SA; Password=9ure3atEbexe;"
       providerName="SqlServer-20" />

</connectionStrings>