<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <log4net>
    <appender
      xdt:Locator="Match(name)"
      type="log4net.Appender.AdoNetAppender"
      name="AdoNetAppender" >
      <connectionString
        value="Server=STLMWSQL01;Database=WarehouseManagement;User Id=IntegrationUser; Password=N3wB@l@nc3;"
        xdt:Transform="Replace"
          /> 
    </appender>
  </log4net>
</configuration>