<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Locator="Match(name)" 
         name="WarehouseManagementConnection" 
         connectionString ="Server=STLMWSQLDEV;Database=WarehouseManagement;User Id=IntegrationUser; Password=N3wB@l@nc3;"
         xdt:Transform="SetAttributes"
         />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  
  </system.web>
</configuration>