USE [NBXWEB]
GO
/****** Object:  Table [dbo].[ROW_Login]    Script Date: 2/25/2016 1:54:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ROW_Login](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](25) NOT NULL,
	[LogInDate] [datetime] NOT NULL,
	[LogOutDate] [datetime] NULL,
 CONSTRAINT [PK_ROW_Login] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
