USE [WMTransactions]
GO
/****** Object:  Table [dbo].[ManhattanPerpetualInventoryTransfer]    Script Date: 2/25/2016 1:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManhattanPerpetualInventoryTransfer](
	[ManhattanPerpetualInventoryTransferId] [int] IDENTITY(1,1) NOT NULL,
	[ProcessedFlag] [nvarchar](1) NULL,
	[ProcessedDate] [nvarchar](9) NULL,
	[ProcessedTime] [nvarchar](7) NULL,
	[DateCreated] [nvarchar](9) NULL,
	[TimeCreated] [nvarchar](7) NULL,
	[TransactionType] [nvarchar](3) NULL,
	[TransactionCode] [nvarchar](3) NULL,
	[TransactionNumber] [nvarchar](9) NULL,
	[SequenceNumber] [nvarchar](5) NULL,
	[Casenumber] [nvarchar](20) NULL,
	[Company] [nvarchar](10) NULL,
	[Division] [nvarchar](10) NULL,
	[Season] [nvarchar](2) NULL,
	[SeasonYear] [nvarchar](2) NULL,
	[Style] [nvarchar](8) NULL,
	[StyleSuffix] [nvarchar](8) NULL,
	[Color] [nvarchar](4) NULL,
	[ColorSuffix] [nvarchar](2) NULL,
	[SecDimension] [nvarchar](3) NULL,
	[Quality] [nvarchar](1) NULL,
	[SizeRngeCode] [nvarchar](4) NULL,
	[SizeRelPosnInTable] [nvarchar](2) NULL,
	[InventoryType] [nvarchar](1) NULL,
	[ProductStatus] [nvarchar](3) NULL,
	[SkuBatchnumber] [nvarchar](15) NULL,
	[SkuAttribute1] [nvarchar](1) NULL,
	[SkuAttribute2] [nvarchar](1) NULL,
	[SkuAttribute3] [nvarchar](1) NULL,
	[SkuAttribute4] [nvarchar](1) NULL,
	[SkuAttribute5] [nvarchar](1) NULL,
	[PackageBarcode] [nvarchar](20) NULL,
	[Area] [nvarchar](4) NULL,
	[Zone] [nvarchar](4) NULL,
	[Aisle] [nvarchar](4) NULL,
	[Bay] [nvarchar](4) NULL,
	[Level] [nvarchar](4) NULL,
	[Position] [nvarchar](4) NULL,
	[LocationFileId] [nvarchar](1) NULL,
	[InventoryAdjustmentQuantity] [decimal](15, 4) NULL,
	[InventoryAdjustmntType] [nvarchar](1) NULL,
	[UnitOfMeasure] [nvarchar](3) NULL,
	[ReceivedFrom] [nvarchar](10) NULL,
	[Warehouse] [nvarchar](3) NULL,
	[ReferenceWarehouse] [nvarchar](3) NULL,
	[TransactionReasonCode] [nvarchar](2) NULL,
	[ReasonCodeShortDescription] [nvarchar](20) NULL,
	[ReceiptsVariance] [nvarchar](1) NULL,
	[Weight] [decimal](13, 5) NULL,
	[ReceiptsCompleted] [nvarchar](1) NULL,
	[CasesShipped] [nvarchar](7) NULL,
	[UnitsShipped] [decimal](15, 4) NULL,
	[CasesReceived] [nvarchar](7) NULL,
	[UnitsReceived] [decimal](15, 4) NULL,
	[ReferenceCode1] [nvarchar](2) NULL,
	[Reference1] [nvarchar](20) NULL,
	[ReferenceCode2] [nvarchar](2) NULL,
	[Reference2] [nvarchar](20) NULL,
	[ReferenceCode3] [nvarchar](2) NULL,
	[Reference3] [nvarchar](20) NULL,
	[ReferenceCode4] [nvarchar](2) NULL,
	[Reference4] [nvarchar](20) NULL,
	[ReferenceCode5] [nvarchar](2) NULL,
	[Reference5] [nvarchar](20) NULL,
	[ReferenceCode6] [nvarchar](2) NULL,
	[Reference6] [nvarchar](20) NULL,
	[ReferenceCode7] [nvarchar](2) NULL,
	[Reference7] [nvarchar](20) NULL,
	[ReferenceCode8] [nvarchar](2) NULL,
	[Reference8] [nvarchar](20) NULL,
	[PixReference1] [nvarchar](2) NULL,
	[PixReference2] [nvarchar](2) NULL,
	[PixReference3] [nvarchar](20) NULL,
	[ActionCode] [nvarchar](2) NULL,
	[CustomReference] [nvarchar](30) NULL,
	[Shipmentnumber] [nvarchar](20) NULL,
	[Ponumber] [nvarchar](20) NULL,
	[PurchaseOrderLine] [nvarchar](6) NULL,
	[VendorAsnNumber] [nvarchar](20) NULL,
	[RecordExpansionField] [nvarchar](20) NULL,
	[CustomRecordExpansionField] [nvarchar](20) NULL,
	[ProgramId] [nvarchar](10) NULL,
	[JobName] [nvarchar](10) NULL,
	[JobNumber] [nvarchar](6) NULL,
	[UserId] [nvarchar](10) NULL,
	[IseriesUserId] [nvarchar](10) NULL,
	[ErrorComment] [nvarchar](25) NULL,
	[SizeDescription] [nvarchar](15) NULL,
	[CountryOfOrigin] [nvarchar](4) NULL,
	[EntryNumber] [nvarchar](10) NULL,
	[CrossReferenceSequence] [nvarchar](5) NULL,
	[StatFld1] [nvarchar](20) NULL,
	[StatFld2] [nvarchar](20) NULL,
	[StatFld3] [nvarchar](20) NULL,
	[InventoryImpact] [nvarchar](1) NULL,
	[BatchControlNumber] [nvarchar](10) NULL,
	[PixMessageType] [nvarchar](20) NULL,
	[MiscellaneousIns1] [nvarchar](20) NULL,
	[MiscellaneousIns2] [nvarchar](20) NULL,
	[MiscellaneousIns3] [nvarchar](20) NULL,
	[MiscellaneousNum1] [decimal](13, 5) NULL,
	[MiscellaneousNum2] [decimal](13, 5) NULL,
	[MiscellaneousNum3] [decimal](13, 5) NULL,
	[ElectronicSignatureUser] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[ManhattanPerpetualInventoryTransferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
