USE [WMTransactions]
GO
/****** Object:  Table [dbo].[ManhattanShipmentLineItem]    Script Date: 2/25/2016 1:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManhattanShipmentLineItem](
	[ManhattanShipmentLineItemId] [int] IDENTITY(1,1) NOT NULL,
	[ProcessedFlag] [nvarchar](1) NULL,
	[ProcessedDate] [nvarchar](9) NULL,
	[ProcessedTime] [nvarchar](7) NULL,
	[DateCreated] [nvarchar](9) NULL,
	[TimeCreated] [nvarchar](7) NULL,
	[ShippedCompany] [nvarchar](10) NULL,
	[ShippedDivision] [nvarchar](10) NULL,
	[PickticketControlNumber] [nvarchar](10) NULL,
	[PickticketLineNumber] [nvarchar](5) NULL,
	[ShippedSizePosn] [nvarchar](2) NULL,
	[ShippedSeason] [nvarchar](2) NULL,
	[ShippedSeasonYear] [nvarchar](2) NULL,
	[ShippedStyle] [nvarchar](8) NULL,
	[ShippedStyleSuffix] [nvarchar](8) NULL,
	[ShippedColor] [nvarchar](4) NULL,
	[ShippedColorSuffix] [nvarchar](2) NULL,
	[ShippedSecDimn] [nvarchar](3) NULL,
	[ShippedQuality] [nvarchar](1) NULL,
	[LotNumber] [nvarchar](15) NULL,
	[PickticketQuantity] [decimal](11, 4) NULL,
	[ShippedQuantity] [decimal](11, 4) NULL,
	[DeliveredUnits] [decimal](11, 4) NULL,
	[ReasonCode1] [nvarchar](2) NULL,
	[ReasonCode2] [nvarchar](2) NULL,
	[ReasonCode3] [nvarchar](2) NULL,
	[ReasonCode4] [nvarchar](2) NULL,
	[ReasonCode5] [nvarchar](2) NULL,
	[ShippedSizeCode] [nvarchar](4) NULL,
	[ShippedSizeDescription] [nvarchar](15) NULL,
	[PackageBarcode] [nvarchar](20) NULL,
	[CustomerSku] [nvarchar](20) NULL,
	[PrePackGroupCode] [nvarchar](2) NULL,
	[AssortmentNumber] [nvarchar](12) NULL,
	[NumberUnitsInPrepack] [decimal](11, 4) NULL,
	[PriceTicketType] [nvarchar](3) NULL,
	[AreaOutboundOnly] [nvarchar](4) NULL,
	[ZoneOutboundOnly] [nvarchar](4) NULL,
	[AisleOutboundOnly] [nvarchar](4) NULL,
	[BayOutboundOnly] [nvarchar](4) NULL,
	[LevelOutboundOnly] [nvarchar](4) NULL,
	[PositionOutboundOnly] [nvarchar](4) NULL,
	[DistroType] [nvarchar](1) NULL,
	[Distronumber] [nvarchar](12) NULL,
	[StoreNumber] [nvarchar](10) NULL,
	[Taxable] [nvarchar](1) NULL,
	[TaxPercentage] [decimal](5, 2) NULL,
	[SupprprtAmounts] [nvarchar](1) NULL,
	[SpecialInstructionCode1] [nvarchar](2) NULL,
	[SpecialInstructionCode2] [nvarchar](2) NULL,
	[SpecialInstructionCode3] [nvarchar](2) NULL,
	[SpecialInstructionCode4] [nvarchar](2) NULL,
	[SpecialInstructionCode5] [nvarchar](2) NULL,
	[MiscellaneousIns20Byte1] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte2] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte4] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte5] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte6] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte7] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte8] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte9] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte10] [nvarchar](20) NULL,
	[MiscellaneousIns5Byte1] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte2] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte3] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte4] [nvarchar](5) NULL,
	[MiscellaneousIns10Byte1] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte2] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte3] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte4] [nvarchar](10) NULL,
	[MiscellaneousIns20Byte11] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte12] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte13] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte14] [nvarchar](20) NULL,
	[BatchControlNumber] [nvarchar](10) NULL,
	[MiscellaneousNum1] [decimal](13, 5) NULL,
	[MiscellaneousNum2] [decimal](13, 5) NULL,
	[MiscellaneousNum3] [decimal](13, 5) NULL,
	[MiscellaneousNum4] [decimal](13, 5) NULL,
	[MiscellaneousNum5] [decimal](13, 5) NULL,
	[MiscellaneousNum6] [decimal](13, 5) NULL,
	[MiscellaneousNum7] [decimal](13, 5) NULL,
	[MiscellaneousNum8] [decimal](13, 5) NULL,
	[MiscellaneousNum9] [decimal](13, 5) NULL,
	[MiscellaneousNum10] [decimal](13, 5) NULL,
	[MiscellaneousNum11] [decimal](13, 5) NULL,
	[MiscellaneousNum12] [decimal](13, 5) NULL,
	[PathNumber] [nvarchar](20) NULL,
	[RecordExpansionField] [nvarchar](30) NULL,
	[CustomRecordExpansionField] [nvarchar](30) NULL,
	[LineItemStatus] [nvarchar](2) NULL,
	[ScheduleDeliveryDate] [nvarchar](9) NULL,
	[MiscellaneousIns20Byte3] [nvarchar](20) NULL,
	[OrderedCompany] [nvarchar](10) NULL,
	[OrderedDivision] [nvarchar](10) NULL,
	[OrderedSeason] [nvarchar](2) NULL,
	[OrderedSeasonYear] [nvarchar](2) NULL,
	[OrderedStyle] [nvarchar](8) NULL,
	[OrderedStyleSuffix] [nvarchar](8) NULL,
	[OrderedColor] [nvarchar](4) NULL,
	[OrderedColorSuffix] [nvarchar](2) NULL,
	[OrderedSecDimn] [nvarchar](3) NULL,
	[OrderedQuality] [nvarchar](1) NULL,
	[OrderedSizeCode] [nvarchar](4) NULL,
	[OrderedSizePosn] [nvarchar](2) NULL,
	[OrderedSizeDescription] [nvarchar](15) NULL,
	[InvoicingStatus] [nvarchar](1) NULL,
	[DemandId] [nvarchar](20) NULL,
	[Ponumber] [nvarchar](20) NULL,
	[ExportIdentificationCode] [nvarchar](2) NULL,
	[MarksAndNumbers] [nvarchar](35) NULL,
	[TpePurchaseOrder] [nvarchar](25) NULL,
	[ShortDescription1] [nvarchar](20) NULL,
	[ShortDescription2] [nvarchar](20) NULL,
	[ShortDescription3] [nvarchar](20) NULL,
	[ShortDescription4] [nvarchar](20) NULL,
	[ShortDescription5] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ManhattanShipmentLineItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
