USE [WMTransactions]
GO
/****** Object:  Table [dbo].[ManhattanShipmentHeader]    Script Date: 2/25/2016 1:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManhattanShipmentHeader](
	[ManhattanShipmentHeaderId] [int] IDENTITY(1,1) NOT NULL,
	[ProcessedFlag] [nvarchar](1) NULL,
	[ProcessedDate] [nvarchar](9) NULL,
	[ProcessedTime] [nvarchar](7) NULL,
	[DateCreated] [nvarchar](9) NULL,
	[TimeCreated] [nvarchar](7) NULL,
	[Company] [nvarchar](10) NULL,
	[Division] [nvarchar](10) NULL,
	[PickticketControlNumber] [nvarchar](10) NULL,
	[Warehouse] [nvarchar](3) NULL,
	[Pickticketnumber] [nvarchar](11) NULL,
	[PickticketSuffix] [nvarchar](3) NULL,
	[OrderNumber] [nvarchar](10) NULL,
	[OrderSuffix] [nvarchar](3) NULL,
	[OrderType] [nvarchar](2) NULL,
	[Shipto] [nvarchar](8) NULL,
	[Soldto] [nvarchar](8) NULL,
	[StoreNumber] [nvarchar](10) NULL,
	[DcCenterNumber] [nvarchar](8) NULL,
	[MerchandiseClass] [nvarchar](2) NULL,
	[MerchandiseCompany] [nvarchar](10) NULL,
	[MerchandiseDivision] [nvarchar](10) NULL,
	[ReferencePickticketControlNumberType] [nvarchar](1) NULL,
	[ReferencePickticketControlNumber] [nvarchar](10) NULL,
	[CartonLabelType] [nvarchar](4) NULL,
	[LogicalWarehouse] [nvarchar](3) NULL,
	[TransferWarehouse] [nvarchar](3) NULL,
	[WarehouseTransferType] [nvarchar](1) NULL,
	[Currency] [nvarchar](10) NULL,
	[PlannedShipVia] [nvarchar](4) NULL,
	[PlannedLoadNumber] [nvarchar](10) NULL,
	[PlannedShipmentNumber] [nvarchar](10) NULL,
	[PickticketGenerationDate] [nvarchar](9) NULL,
	[PickticketPrintDate] [nvarchar](9) NULL,
	[ReasonCode] [nvarchar](2) NULL,
	[ScheduleDeliveryDate] [nvarchar](9) NULL,
	[ShipDate] [nvarchar](9) NULL,
	[ShipmentTypeDi] [nvarchar](1) NULL,
	[CustomerPonumber] [nvarchar](26) NULL,
	[ArAccountNumber] [nvarchar](10) NULL,
	[TotalWeight] [decimal](15, 5) NULL,
	[TotalShippedQuantity] [decimal](13, 4) NULL,
	[TotNumberOfCartons] [nvarchar](7) NULL,
	[TotalNumberOfLines] [nvarchar](5) NULL,
	[ShipWithControlNumber] [nvarchar](15) NULL,
	[ProductValue] [decimal](19, 4) NULL,
	[RecalculateOrderChg] [nvarchar](1) NULL,
	[CreditAmount] [decimal](19, 4) NULL,
	[OrderCharge] [decimal](19, 4) NULL,
	[HandlingCharges] [decimal](19, 4) NULL,
	[TaxCharges] [decimal](19, 4) NULL,
	[MiscellaneousCharges] [decimal](19, 4) NULL,
	[BaseCharge] [decimal](19, 4) NULL,
	[CarrierCharge] [decimal](19, 4) NULL,
	[CustomerCharge] [decimal](19, 4) NULL,
	[InsuranceCharge] [decimal](19, 4) NULL,
	[AccessorialCharge] [decimal](19, 4) NULL,
	[LineHaulCharge] [decimal](19, 4) NULL,
	[DistributingCharge] [decimal](19, 4) NULL,
	[GlobalLocationNumber] [nvarchar](13) NULL,
	[MiscellaneousIns5Byte1] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte2] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte3] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte4] [nvarchar](5) NULL,
	[MiscellaneousIns10Byte1] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte2] [nvarchar](10) NULL,
	[MiscellaneousIns20Byte1] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte2] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte3] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte4] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte5] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte6] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte7] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte8] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte9] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte10] [nvarchar](20) NULL,
	[MiscellaneousIns5Byte5] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte6] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte7] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte8] [nvarchar](5) NULL,
	[MiscellaneousIns10Byte3] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte4] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte5] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte6] [nvarchar](10) NULL,
	[MiscellaneousIns20Byte11] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte12] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte13] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte14] [nvarchar](20) NULL,
	[MiscellaneousNum1] [decimal](13, 5) NULL,
	[MiscellaneousNum2] [decimal](13, 5) NULL,
	[MiscellaneousNum3] [decimal](13, 5) NULL,
	[MiscellaneousNum4] [decimal](13, 5) NULL,
	[MiscellaneousNum5] [decimal](13, 5) NULL,
	[MiscellaneousNum6] [decimal](13, 5) NULL,
	[MiscellaneousNum7] [decimal](13, 5) NULL,
	[MiscellaneousNum8] [decimal](13, 5) NULL,
	[MiscellaneousNum9] [decimal](13, 5) NULL,
	[MiscellaneousNum10] [decimal](13, 5) NULL,
	[SpecialInstructionCode1] [nvarchar](2) NULL,
	[SpecialInstructionCode2] [nvarchar](2) NULL,
	[SpecialInstructionCode3] [nvarchar](2) NULL,
	[SpecialInstructionCode4] [nvarchar](2) NULL,
	[SpecialInstructionCode5] [nvarchar](2) NULL,
	[SpecialInstructionCode6] [nvarchar](2) NULL,
	[SpecialInstructionCode7] [nvarchar](2) NULL,
	[SpecialInstructionCode8] [nvarchar](2) NULL,
	[SpecialInstructionCode9] [nvarchar](2) NULL,
	[SpecialInstructionCode10] [nvarchar](2) NULL,
	[FreightTerms] [nvarchar](1) NULL,
	[BatchInvoiceForOrd] [nvarchar](1) NULL,
	[PrebillingStatus] [nvarchar](1) NULL,
	[InvoicingStatus] [nvarchar](1) NULL,
	[DeliveryStatus] [nvarchar](1) NULL,
	[InvoicedByPickticketFlag] [nvarchar](1) NULL,
	[BatchControlNumber] [nvarchar](10) NULL,
	[RecordExpansionField] [nvarchar](50) NULL,
	[CustomRecordExpansionField] [nvarchar](50) NULL,
	[BulkInvoice] [nvarchar](1) NULL,
	[InvoiceEditFlag] [nvarchar](1) NULL,
	[CodFlag] [nvarchar](1) NULL,
	[ShipfromName] [nvarchar](35) NULL,
	[ShipfromAddr1] [nvarchar](35) NULL,
	[ShipfromAddr2] [nvarchar](35) NULL,
	[ShipfromAddr3] [nvarchar](35) NULL,
	[ShipfromCity] [nvarchar](35) NULL,
	[ShipfromState] [nvarchar](20) NULL,
	[ShipfromZip] [nvarchar](11) NULL,
	[ShipfromCountry] [nvarchar](4) NULL,
	[ShiptoName] [nvarchar](35) NULL,
	[ShipToName2] [nvarchar](35) NULL,
	[ShiptoAddr1] [nvarchar](35) NULL,
	[ShiptoAddr2] [nvarchar](35) NULL,
	[ShiptoAddr3] [nvarchar](35) NULL,
	[ShiptoCity] [nvarchar](35) NULL,
	[ShiptoState] [nvarchar](20) NULL,
	[ShiptoZip] [nvarchar](11) NULL,
	[ShiptoCountry] [nvarchar](4) NULL,
	[ShipforName] [nvarchar](35) NULL,
	[ShipForName2] [nvarchar](35) NULL,
	[ShipforAddr1] [nvarchar](35) NULL,
	[ShipforAddr2] [nvarchar](35) NULL,
	[ShipforAddr3] [nvarchar](35) NULL,
	[ShipforCity] [nvarchar](35) NULL,
	[ShipforState] [nvarchar](20) NULL,
	[ShipforZip] [nvarchar](11) NULL,
	[ShipforCountry] [nvarchar](4) NULL,
	[RetailPickticket] [nvarchar](1) NULL,
	[ConsolidatorAddressCode] [nvarchar](10) NULL,
	[TmsOrderType] [nvarchar](3) NULL,
	[HostApointmentNumber] [nvarchar](15) NULL,
	[NumberOfDetailLines] [nvarchar](5) NULL,
	[WarehouseXferAsnCreate] [nvarchar](1) NULL,
	[BackordrPickticketExists] [nvarchar](1) NULL,
	[BackordrPickticket] [nvarchar](1) NULL,
	[ReasonCodeShortDescription] [nvarchar](20) NULL,
	[ShippedShipVia] [nvarchar](4) NULL,
	[GenerateInvoiceData] [nvarchar](1) NULL,
	[EmailStatus] [nvarchar](10) NOT NULL DEFAULT ('NEW'),
PRIMARY KEY CLUSTERED 
(
	[ManhattanShipmentHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
