USE [WMTransactions]
GO
/****** Object:  Table [dbo].[AuroraPickTicketHeader]    Script Date: 2/25/2016 1:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuroraPickTicketHeader](
	[AuroraPickTicketHeaderId] [int] IDENTITY(1,1) NOT NULL,
	[ErrorSequence] [nvarchar](9) NULL,
	[ProcessedDate] [nvarchar](9) NULL,
	[ProcessedTime] [nvarchar](7) NULL,
	[BatchControlNumber] [nvarchar](10) NULL,
	[DateCreated] [nvarchar](9) NULL,
	[TimeCreated] [nvarchar](7) NULL,
	[UserId] [nvarchar](10) NULL,
	[ProgramId] [nvarchar](10) NULL,
	[Company] [nvarchar](10) NULL,
	[Division] [nvarchar](10) NULL,
	[PickticketControlNumber] [nvarchar](10) NULL,
	[Warehouse] [nvarchar](3) NULL,
	[PickticketNumber] [nvarchar](11) NULL,
	[PickticketSuffix] [nvarchar](3) NULL,
	[OrderNumber] [nvarchar](10) NULL,
	[OrderSuffix] [nvarchar](3) NULL,
	[OrderType] [nvarchar](2) NULL,
	[ShipTo] [nvarchar](8) NULL,
	[ShipToName] [nvarchar](35) NULL,
	[ShipToName2] [nvarchar](35) NULL,
	[ShipToAddr1] [nvarchar](35) NULL,
	[ShipToAddr2] [nvarchar](35) NULL,
	[ShipToAddr3] [nvarchar](35) NULL,
	[ShipToCity] [nvarchar](35) NULL,
	[ShipToState] [nvarchar](20) NULL,
	[ShipToZip] [nvarchar](11) NULL,
	[ShipToCountry] [nvarchar](4) NULL,
	[ShiptoFaxNumber] [nvarchar](30) NULL,
	[SoldTo] [nvarchar](8) NULL,
	[SoldToName] [nvarchar](35) NULL,
	[SoldToName2] [nvarchar](35) NULL,
	[SoldToAddr1] [nvarchar](35) NULL,
	[SoldToAddr2] [nvarchar](35) NULL,
	[SoldToAddr3] [nvarchar](35) NULL,
	[SoldToCity] [nvarchar](35) NULL,
	[SoldToState] [nvarchar](20) NULL,
	[SoldToZip] [nvarchar](11) NULL,
	[TelephoneNumber] [nvarchar](30) NULL,
	[SoldToCountry] [nvarchar](4) NULL,
	[DcCenterNumber] [nvarchar](8) NULL,
	[LogicalWarehouse] [nvarchar](3) NULL,
	[TransferWarehouses] [nvarchar](3) NULL,
	[WarehouseTransferType] [nvarchar](1) NULL,
	[BusinessDivision] [nvarchar](1) NULL,
	[ArAccountNumber] [nvarchar](10) NULL,
	[ArCode] [nvarchar](2) NULL,
	[CustomerPurchaseOrderNumber] [nvarchar](26) NULL,
	[CustomerDepartment] [nvarchar](8) NULL,
	[VerifyCartonContents] [nvarchar](1) NULL,
	[NumberOfTimesApptChg] [nvarchar](1) NULL,
	[AppointmentDate] [nvarchar](9) NULL,
	[ApptMadeById] [nvarchar](3) NULL,
	[StoreNumber] [nvarchar](10) NULL,
	[StoreType] [nvarchar](1) NULL,
	[AdvertisingCode] [nvarchar](10) NULL,
	[AdvertisingDate] [nvarchar](9) NULL,
	[MerchandiseCode] [nvarchar](2) NULL,
	[MerchandiseClass] [nvarchar](2) NULL,
	[MerchandiseCompany] [nvarchar](10) NULL,
	[MerchandiseDivision] [nvarchar](10) NULL,
	[VendorNumber] [nvarchar](12) NULL,
	[ShipVia] [nvarchar](4) NULL,
	[BillingShipVia] [nvarchar](4) NULL,
	[OutboundShipmentGroupingCode] [nvarchar](20) NULL,
	[ThirdPartyBill] [nvarchar](15) NULL,
	[SalesmanNumber] [nvarchar](3) NULL,
	[PriorityCode] [nvarchar](2) NULL,
	[PrioritySuffix] [nvarchar](2) NULL,
	[TerritoryCode] [nvarchar](3) NULL,
	[ManagingTerritory] [nvarchar](3) NULL,
	[SalesGroup] [nvarchar](6) NULL,
	[MarkFor] [nvarchar](25) NULL,
	[OrderDate] [nvarchar](9) NULL,
	[PickticketGenerationDate] [nvarchar](9) NULL,
	[StartShipDate] [nvarchar](9) NULL,
	[StopShipDate] [nvarchar](9) NULL,
	[CancelDate] [nvarchar](9) NULL,
	[AllocShipDate] [nvarchar](9) NULL,
	[ScheduleDeliveryDate] [nvarchar](9) NULL,
	[ShipmentTypeDi] [nvarchar](1) NULL,
	[TermsCode] [nvarchar](2) NULL,
	[TermsDescription] [nvarchar](30) NULL,
	[TermsPercent] [decimal](5, 2) NULL,
	[PreStickerCode] [nvarchar](1) NULL,
	[ShipWithControlNumber] [nvarchar](15) NULL,
	[PrintCode] [nvarchar](2) NULL,
	[CustomerPrePack] [nvarchar](1) NULL,
	[CartonLabelType] [nvarchar](4) NULL,
	[NumberOfCartonLabels] [nvarchar](3) NULL,
	[ContentLabelType] [nvarchar](4) NULL,
	[NumberOfContLabels] [nvarchar](3) NULL,
	[WaveLabelType] [nvarchar](4) NULL,
	[NumberOfPackingSlips] [nvarchar](3) NULL,
	[PackingSlipType] [nvarchar](2) NULL,
	[PickticketStatus] [nvarchar](2) NULL,
	[PackHoldFlag] [nvarchar](1) NULL,
	[InvoiceInCarton] [nvarchar](1) NULL,
	[AutoInvoiceStatus] [nvarchar](2) NULL,
	[CustomerRouting] [nvarchar](1) NULL,
	[RoutingAttribute] [nvarchar](30) NULL,
	[RouteTo] [nvarchar](20) NULL,
	[RoutingType1] [nvarchar](2) NULL,
	[RoutingType2] [nvarchar](2) NULL,
	[RoutingZip] [nvarchar](11) NULL,
	[RoutedSwcNumber] [nvarchar](10) NULL,
	[SingleSkuOrder] [nvarchar](1) NULL,
	[EstimatedWeightBridged] [decimal](15, 5) NULL,
	[EstimatedCartonsBridged] [nvarchar](7) NULL,
	[EstimatedVolumeBridged] [decimal](15, 5) NULL,
	[TotNumberOfUnits] [decimal](13, 4) NULL,
	[TotDlrsUndiscntd] [decimal](19, 4) NULL,
	[TotDlrsDiscounted] [decimal](19, 4) NULL,
	[TpeCurrencyCode] [nvarchar](10) NULL,
	[DiscountDate] [nvarchar](9) NULL,
	[NumberOfHangers] [nvarchar](3) NULL,
	[Route] [nvarchar](10) NULL,
	[RouteSequenceNumber] [nvarchar](5) NULL,
	[BillOfLadingType] [nvarchar](1) NULL,
	[TrailerNumber] [nvarchar](12) NULL,
	[TrailerType] [nvarchar](6) NULL,
	[TrailerSize] [nvarchar](6) NULL,
	[ShipmentControlFlag] [nvarchar](1) NULL,
	[CodFlag] [nvarchar](1) NULL,
	[ProductValue] [decimal](19, 4) NULL,
	[RecalculateOrderChange] [nvarchar](1) NULL,
	[SuppressFinancials] [nvarchar](1) NULL,
	[CreditAmount] [decimal](19, 4) NULL,
	[OrderCharge] [decimal](19, 4) NULL,
	[HandlingCharges] [decimal](19, 4) NULL,
	[InsuranceCharges] [decimal](19, 4) NULL,
	[TaxCharges] [decimal](19, 4) NULL,
	[MiscellaneousCharges] [decimal](19, 4) NULL,
	[PickticketWageValue] [decimal](19, 4) NULL,
	[PickerStdHours] [decimal](5, 2) NULL,
	[CartonAsnRequired] [nvarchar](1) NULL,
	[AsnMethod] [nvarchar](2) NULL,
	[Sku100Inventory] [nvarchar](1) NULL,
	[CrossDockPickticket] [nvarchar](1) NULL,
	[ChoppingYn] [nvarchar](1) NULL,
	[I2Of5LabelYn] [nvarchar](1) NULL,
	[CollectFreight] [nvarchar](1) NULL,
	[PrintGarmentLbls] [nvarchar](1) NULL,
	[VasStatus] [nvarchar](2) NULL,
	[ChuteCategory] [nvarchar](2) NULL,
	[CheapRateFlag] [nvarchar](1) NULL,
	[MaxCartonWeight] [decimal](15, 5) NULL,
	[MaxCartonUnits] [decimal](11, 4) NULL,
	[PalletSequenceFlag] [nvarchar](2) NULL,
	[AssignLocation] [nvarchar](1) NULL,
	[ShippingWarehouse] [nvarchar](3) NULL,
	[ShipToWarehouse] [nvarchar](3) NULL,
	[CombinePickticketFlag] [nvarchar](2) NULL,
	[AllocateCases] [nvarchar](1) NULL,
	[AllocateInventory] [nvarchar](1) NULL,
	[CaseAllocProcessing] [nvarchar](1) NULL,
	[ShippingZone1] [nvarchar](3) NULL,
	[ShippingZone2] [nvarchar](3) NULL,
	[ShippingZone3] [nvarchar](3) NULL,
	[ShippingZone4] [nvarchar](3) NULL,
	[ShippingZone5] [nvarchar](3) NULL,
	[ShippingZone6] [nvarchar](3) NULL,
	[ResidentialAddress] [nvarchar](1) NULL,
	[ServiceLevel] [nvarchar](5) NULL,
	[LiabilityTerms] [nvarchar](3) NULL,
	[EarliestDeliveryTime] [nvarchar](5) NULL,
	[Importer] [nvarchar](1) NULL,
	[Incoterms] [nvarchar](3) NULL,
	[IncotermsNamedPlace] [nvarchar](19) NULL,
	[PaymentTerms] [nvarchar](1) NULL,
	[ExportingShipVia] [nvarchar](4) NULL,
	[PortOfLoading] [nvarchar](19) NULL,
	[LoadingPier] [nvarchar](10) NULL,
	[Vessel] [nvarchar](20) NULL,
	[PortOfDischarge] [nvarchar](19) NULL,
	[Containerized] [nvarchar](1) NULL,
	[ValidatedLicense] [nvarchar](20) NULL,
	[EconomicCommodityCode] [nvarchar](5) NULL,
	[Related] [nvarchar](1) NULL,
	[DocumentsOnlyShipment] [nvarchar](1) NULL,
	[GeneralMerchandiseDescription] [nvarchar](50) NULL,
	[PalletSequenceUsed] [nvarchar](2) NULL,
	[SpecialInstructionCode1] [nvarchar](2) NULL,
	[SpecialInstructionCode2] [nvarchar](2) NULL,
	[SpecialInstructionCode3] [nvarchar](2) NULL,
	[SpecialInstructionCode4] [nvarchar](2) NULL,
	[SpecialInstructionCode5] [nvarchar](2) NULL,
	[SpecialInstructionCode6] [nvarchar](2) NULL,
	[SpecialInstructionCode7] [nvarchar](2) NULL,
	[SpecialInstructionCode8] [nvarchar](2) NULL,
	[SpecialInstructionCode9] [nvarchar](2) NULL,
	[SpecialInstructionCode10] [nvarchar](2) NULL,
	[CustomerChargeShipVia] [nvarchar](4) NULL,
	[CustomerChargeOrigin] [nvarchar](3) NULL,
	[CustomerChargeServiceLevel] [nvarchar](5) NULL,
	[CustomerChargeDiscountPercent] [decimal](5, 2) NULL,
	[CodPaymentType] [nvarchar](1) NULL,
	[GlobalLocnNumber] [nvarchar](13) NULL,
	[AnchorByField1] [nvarchar](35) NULL,
	[AnchorByField2] [nvarchar](15) NULL,
	[AnchorByField3] [nvarchar](15) NULL,
	[OnCancelRequest] [nvarchar](1) NULL,
	[BackOrderReference] [nvarchar](10) NULL,
	[OnShortage] [nvarchar](1) NULL,
	[DocumentEmailAddress] [nvarchar](50) NULL,
	[MiscellaneousField1] [nvarchar](5) NULL,
	[MiscellaneousField2] [nvarchar](5) NULL,
	[MiscellaneousField3] [nvarchar](5) NULL,
	[MiscellaneousField4] [nvarchar](5) NULL,
	[MiscellaneousField5] [nvarchar](10) NULL,
	[MiscellaneousField6] [nvarchar](10) NULL,
	[MiscellaneousField7] [nvarchar](20) NULL,
	[MiscellaneousField8] [nvarchar](20) NULL,
	[MiscellaneousNum1] [decimal](13, 5) NULL,
	[MiscellaneousNum2] [decimal](13, 5) NULL,
	[MiscellaneousNum3] [decimal](13, 5) NULL,
	[AllocateOpenStockForB] [nvarchar](1) NULL,
	[RecordExpansionField] [nvarchar](50) NULL,
	[CustomRecordExpansionField] [nvarchar](50) NULL,
	[DepartmentDescription] [nvarchar](25) NULL,
	[Function] [nvarchar](1) NULL,
	[CustomerProfile] [nvarchar](10) NULL,
	[PurchaseOrderType] [nvarchar](4) NULL,
	[BbbCarrierCode] [nvarchar](3) NULL,
	[InternalOrderNumber] [nvarchar](10) NULL,
	[CcPrimaryNumber] [nvarchar](10) NULL,
	[CcSecondaryNumber] [nvarchar](10) NULL,
	[CartonNumberType] [nvarchar](1) NULL,
	[VasType] [nvarchar](5) NULL,
	[DayOfWeek] [nvarchar](1) NULL,
	[ShiftNumber] [nvarchar](2) NULL,
	[MusicalRunAllocation] [nvarchar](1) NULL,
	[ScheduledDeliveryEndDate] [nvarchar](9) NULL,
	[HazmatFlag] [nvarchar](1) NULL,
	[TpePurchaseOrderFlag] [nvarchar](1) NULL,
	[TransPlanSystem] [nvarchar](2) NULL,
	[TpeTrigPoint] [nvarchar](2) NULL,
	[MiscellaneousField9] [nvarchar](20) NULL,
	[MiscellaneousField10] [nvarchar](20) NULL,
	[MiscellaneousField11] [nvarchar](20) NULL,
	[MiscellaneousField12] [nvarchar](20) NULL,
	[MiscellaneousField13] [nvarchar](20) NULL,
	[MiscellaneousField14] [nvarchar](20) NULL,
	[MiscellaneousField15] [nvarchar](20) NULL,
	[MiscellaneousField16] [nvarchar](20) NULL,
	[MiscellaneousNum4] [decimal](13, 5) NULL,
	[MiscellaneousNum5] [decimal](13, 5) NULL,
	[MiscellaneousNum6] [decimal](13, 5) NULL,
	[TeOrderType] [nvarchar](3) NULL,
	[HostApptNumber] [nvarchar](15) NULL,
	[NumberOfDetailLines] [nvarchar](5) NULL,
	[DeliveryDateFlag] [nvarchar](1) NULL,
	[DeliveryDate] [nvarchar](9) NULL,
	[FreightForwarderOrderNumber] [nvarchar](15) NULL,
	[FreightForwarderAccountNumber] [nvarchar](12) NULL,
	[ConsigneeAccountNumber] [nvarchar](12) NULL,
	[CrtOutboundAsnFiles] [nvarchar](1) NULL,
	[UnitNumber] [nvarchar](7) NULL,
	[StoreDivision] [nvarchar](10) NULL,
	[DuNsNumber] [nvarchar](9) NULL,
	[WeightUom] [nvarchar](3) NULL,
	[GrossNetWeightOnAsn] [nvarchar](1) NULL,
	[VolumeUom] [nvarchar](3) NULL,
	[OutboundVendorNumber] [nvarchar](12) NULL,
	[AccountUserCode1] [nvarchar](3) NULL,
	[AccountUserCode2] [nvarchar](3) NULL,
	[AccountUserCode3] [nvarchar](3) NULL,
	[EdiStoreId] [nvarchar](15) NULL,
	[CustomerCommunications] [nvarchar](15) NULL,
	[IncludePackLevelIfNotMixed] [nvarchar](1) NULL,
	[AllowStandardPack] [nvarchar](1) NULL,
	[InfectiousSubstanceContactName] [nvarchar](35) NULL,
	[InfectiousSubstancePhoneNumber] [nvarchar](35) NULL,
	[SendersInsInCaseOfNonDelivery] [nvarchar](1) NULL,
	[ImporterAccountNumber] [nvarchar](12) NULL,
	[SedProofofFilingCitationCode] [nvarchar](1) NULL,
	[AesInternalTransactionNumber] [nvarchar](15) NULL,
	[B13aFilingOption] [nvarchar](1) NULL,
	[B13aFilingNumber] [nvarchar](21) NULL,
	[FrameworkId] [nvarchar](20) NULL,
	[FrameworkFlags] [nvarchar](6) NULL,
	[SplitMultipleLoads] [nvarchar](1) NULL,
	[PalletCubingMethod] [nvarchar](2) NULL,
	[MaxSkusThatCanBeCubed] [nvarchar](3) NULL,
	[HostDataFlag] [nvarchar](1) NULL,
	[GenerateInvoiceData] [nvarchar](1) NULL,
	[HotOrder] [nvarchar](1) NULL,
	[OrderPriority] [nvarchar](5) NULL,
	[RetailerReference] [nvarchar](50) NULL,
	[LanguageId] [nvarchar](3) NULL,
	[DoublebyteLanguageId] [nvarchar](3) NULL,
	[PickticketImmediateNeed] [nvarchar](1) NULL,
	[MiscellaneousIns5Byte5] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte6] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte7] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte8] [nvarchar](5) NULL,
	[MiscellaneousIns10Byte3] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte4] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte5] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte6] [nvarchar](10) NULL,
	[MiscellaneousIns20Byte11] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte12] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte13] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte14] [nvarchar](20) NULL,
	[MiscellaneousNum7] [decimal](13, 5) NULL,
	[MiscellaneousNum8] [decimal](13, 5) NULL,
	[MiscellaneousNum9] [decimal](13, 5) NULL,
	[MiscellaneousNum10] [decimal](13, 5) NULL,
PRIMARY KEY CLUSTERED 
(
	[AuroraPickTicketHeaderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
