USE [WMTransactions]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetManhattanShipmentCartonHeader]    Script Date: 2/25/2016 1:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetManhattanShipmentCartonHeader]
@PickTicketControlNumber VARCHAR(10),
@BatchControlNumber VARCHAR(10)

AS

SELECT [ManhattanShipmentCartonHeaderId]
      ,[ProcessedFlag]
      ,[ProcessedDate]
      ,[ProcessedTime]
      ,[DateCreated]
      ,[TimeCreated]
      ,[Company]
      ,[Division]
      ,[Cartonnumber]
      ,[PickticketControlNumber]
      ,[BatchControlNumber]
      ,[Pickticketnumber]
      ,[PickticketSuffix]
      ,[OrderNumber]
      ,[OrderSuffix]
      ,[Soldto]
      ,[Shipto]
      ,[CustomerPonumber]
      ,[TrackingNumber]
      ,[ConsigneeTrackingNumber]
      ,[CartonType]
      ,[CartonSize]
      ,[ShippingUnit]
      ,[StoreNumber]
      ,[CartonVolume]
      ,[EstimatedWeight]
      ,[ActualWeight]
      ,[TotalQuantity]
      ,[BaseCharge]
      ,[CarrierCharge]
      ,[CustomerCharge]
      ,[InsuranceCharge]
      ,[AccessorialCharge]
      ,[CodAmount]
      ,[BilledWeight]
      ,[CartonNbrxOfY]
      ,[PackageDescription]
      ,[PalletId]
      ,[TierNumber]
      ,[MasterBillOfLading]
      ,[BillOfLading]
      ,[ShipmentNumber]
      ,[LoadNumber]
      ,[Route]
      ,[ManifestNumber]
      ,[Trailernumber]
      ,[PickupRecordNumber]
      ,[ShipVia]
      ,[NumberOfTimesApptChanged]
      ,[AppointmentDate]
      ,[ApptMadeById]
      ,[LoadSeqnumber]
      ,[CartonVerifiedFlag]
      ,[CheckerId]
      ,[Pronumber]
      ,[Sealnumber]
      ,[RecipientFirstName]
      ,[RecipientLastName]
      ,[DeliveredDate]
      ,[DeliveredTime]
      ,[DeliveredOnTimeFlag]
      ,[DeliveredCompleteFlag]
      ,[DeliveryComment]
      ,[CustomerChargeShipVia]
      ,[CustomerLoadId]
      ,[AirbillNumber]
      ,[CartonLevelEpc]
      ,[PalletEpc]
      ,[MiscellaneousIns10Byte1]
      ,[MiscellaneousIns20Byte1]
      ,[MiscellaneousIns20Byte2]
      ,[MiscellaneousIns5Byte1]
      ,[MiscellaneousIns5Byte2]
      ,[MiscellaneousIns5Byte3]
      ,[MiscellaneousIns5Byte4]
      ,[MiscellaneousIns10Byte2]
      ,[MiscellaneousIns10Byte3]
      ,[MiscellaneousIns10Byte4]
      ,[MiscellaneousIns10Byte5]
      ,[MiscellaneousIns20Byte3]
      ,[MiscellaneousIns20Byte4]
      ,[MiscellaneousIns20Byte5]
      ,[MiscellaneousIns20Byte6]
      ,[MiscellaneousNum1]
      ,[MiscellaneousNum2]
      ,[MiscellaneousNum3]
      ,[MiscellaneousNum4]
      ,[MiscellaneousNum5]
      ,[MiscellaneousNum6]
      ,[RecordExpansionField]
      ,[CustomRecordExpansionField]
      ,[HostApointmentNumber]
      ,[CartonLength]
      ,[CartonWidth]
      ,[CartonHeight]
      ,[BatchLabelPrintNumber]
      ,[BatchLabelCartonX]
      ,[BatchLabelCartonY]
  FROM [dbo].[ManhattanShipmentCartonHeader]
WHERE PickTicketControlNumber = @PickTicketControlNumber
and BatchControlNumber = @BatchControlNumber;



GO
