USE [WMTransactions]
GO
/****** Object:  Table [dbo].[ManhattanConditionCode]    Script Date: 2/25/2016 1:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ManhattanConditionCode](
	[Code] [varchar](3) NULL,
	[Reason] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
