USE [WMTransactions]
GO
/****** Object:  Table [dbo].[ManhattanShipmentCartonDetail]    Script Date: 2/25/2016 1:50:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ManhattanShipmentCartonDetail](
	[ManhattanShipmentCartonDetailId] [int] IDENTITY(1,1) NOT NULL,
	[ProcessedFlag] [nvarchar](1) NULL,
	[ProcessedDate] [nvarchar](9) NULL,
	[ProcessedTime] [nvarchar](7) NULL,
	[DateCreated] [nvarchar](9) NULL,
	[TimeCreated] [nvarchar](7) NULL,
	[Company] [nvarchar](10) NULL,
	[Division] [nvarchar](10) NULL,
	[PickticketControlNumber] [nvarchar](10) NULL,
	[BatchControlNumber] [nvarchar](10) NULL,
	[Cartonnumber] [nvarchar](20) NULL,
	[ReferenceCasenumber] [nvarchar](20) NULL,
	[PickticketLineNumber] [nvarchar](5) NULL,
	[SizeRelPosnInTable] [nvarchar](2) NULL,
	[CartonLineNumber] [nvarchar](3) NULL,
	[Season] [nvarchar](2) NULL,
	[SeasonYear] [nvarchar](2) NULL,
	[Style] [nvarchar](8) NULL,
	[StyleSuffix] [nvarchar](8) NULL,
	[Color] [nvarchar](4) NULL,
	[ColorSuffix] [nvarchar](2) NULL,
	[SecDimension] [nvarchar](3) NULL,
	[Quality] [nvarchar](1) NULL,
	[SizeRngeCode] [nvarchar](4) NULL,
	[SizeDescription] [nvarchar](15) NULL,
	[InventoryType] [nvarchar](1) NULL,
	[CustomerSku] [nvarchar](20) NULL,
	[ProductStatus] [nvarchar](3) NULL,
	[LotNumber] [nvarchar](15) NULL,
	[SkuAttribute1] [nvarchar](1) NULL,
	[SkuAttribute2] [nvarchar](1) NULL,
	[SkuAttribute3] [nvarchar](1) NULL,
	[SkuAttribute4] [nvarchar](1) NULL,
	[SkuAttribute5] [nvarchar](1) NULL,
	[CountryOfOrigin] [nvarchar](4) NULL,
	[PreCubeFlag] [nvarchar](1) NULL,
	[DistroType] [nvarchar](1) NULL,
	[Distronumber] [nvarchar](12) NULL,
	[PackageBarcode] [nvarchar](20) NULL,
	[ToBePackedUnits] [decimal](11, 4) NULL,
	[ToBePackedBoxes] [nvarchar](7) NULL,
	[UnitsPacked] [decimal](11, 4) NULL,
	[BoxesPacked] [nvarchar](7) NULL,
	[DeliveredUnits] [decimal](11, 4) NULL,
	[CancelQuantity] [decimal](11, 4) NULL,
	[ReasonCode1] [nvarchar](2) NULL,
	[ReasonCode2] [nvarchar](2) NULL,
	[ReasonCode3] [nvarchar](2) NULL,
	[ReasonCode4] [nvarchar](2) NULL,
	[ReasonCode5] [nvarchar](2) NULL,
	[AssortmentNumber] [nvarchar](12) NULL,
	[PalletId] [nvarchar](20) NULL,
	[PickerId] [nvarchar](10) NULL,
	[PackerId] [nvarchar](10) NULL,
	[MinorPickticketControlNumber] [nvarchar](10) NULL,
	[MasterShipmentId] [nvarchar](10) NULL,
	[CustomerPonumber] [nvarchar](26) NULL,
	[Miscellaneous10Byte1] [nvarchar](10) NULL,
	[Miscellaneous20Byte1] [nvarchar](20) NULL,
	[MiscellaneousIns5Byte1] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte2] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte3] [nvarchar](5) NULL,
	[MiscellaneousIns5Byte4] [nvarchar](5) NULL,
	[MiscellaneousIns10Byte2] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte3] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte4] [nvarchar](10) NULL,
	[MiscellaneousIns10Byte5] [nvarchar](10) NULL,
	[MiscellaneousIns20Byte2] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte3] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte4] [nvarchar](20) NULL,
	[MiscellaneousIns20Byte5] [nvarchar](20) NULL,
	[MiscellaneousNum1] [decimal](13, 5) NULL,
	[MiscellaneousNum2] [decimal](13, 5) NULL,
	[MiscellaneousNum3] [decimal](13, 5) NULL,
	[MiscellaneousNum4] [decimal](13, 5) NULL,
	[MiscellaneousNum5] [decimal](13, 5) NULL,
	[MiscellaneousNum6] [decimal](13, 5) NULL,
	[PathNumber] [nvarchar](20) NULL,
	[ShortDescription1] [nvarchar](20) NULL,
	[ShortDescription2] [nvarchar](20) NULL,
	[ShortDescription3] [nvarchar](20) NULL,
	[ShortDescription4] [nvarchar](20) NULL,
	[ShortDescription5] [nvarchar](20) NULL,
	[RecordExpansionField] [nvarchar](30) NULL,
	[CustomRecordExpansionField] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ManhattanShipmentCartonDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
